@model AppMvc.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Alterar as configurações da sua conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
            ]
        </dd>
        <dt>Logins Externos:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Gerenciar", "ManageLogins") ]
        </dd>
        @*
            Números de telefone podem ser usados como um segundo fator de verificação em um sistema de autenticação de dois fatores.

            Veja <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
            para detalhes sobre como configurar esta aplicação ASP.NET para suportar autenticação de dois fatores usando SMS.

            Descomente o seguinte bloco depois de ter configurado a autenticação de dois fatores
        *@
        @*
            <dt>Número de Telefone:</dt>
            <dd>
                @(Model.PhoneNumber ?? "Nenhum")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Alterar", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remover" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Adicionar", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Autenticação de Dois Fatores:</dt>
        <dd>
            <p>
                Não há provedores de autenticação de dois fatores configurados. Veja <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
                para detalhes sobre como configurar esta aplicação ASP.NET para suportar autenticação de dois fatores.
            </p>
            @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Ativado
                    <input type="submit" value="Desativar" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Desativado
                    <input type="submit" value="Ativar" class="btn btn-link" />
                    </text>
                }
            }*@
        </dd>
    </dl>
</div>
